---
import { changeLanguage } from 'i18next';
import Layout from '../../layouts/Layout.astro';
import HeroSection from '../../components/home/HeroSection';
import LandingSection from '../../components/home/LandingSection';
import Footer from '../../components/Footer';

changeLanguage('en');
---

<Layout
  title="PlatKey - Web Extension"
  description="Web Extension for Platzi. Available on the Chrome Web Store and App Store."
>
  <main>
    <HeroSection client:visible />
    <LandingSection client:visible />
    <Footer />
  </main>
</Layout>
