---
import { changeLanguage } from 'i18next';
import Layout from '../../layouts/Layout.astro';
import Footer from '../../components/Footer';

changeLanguage('en');
---

<Layout title="PlatKey Privacy Policy">
  <main>
    <div class="bg-darkblue flex justify-center py-4 min-h-screen">
      <div class="bg-blue text-white w-full lg:w-[42rem] rounded-3xl p-6">
        <h1 class="text-[2.5rem] font-extrabold text-skyblue">
          Privacy Policy
        </h1>
        <p>
          <a href="https://github.com/360macky">@360macky</a> built the PlatKey extension
          as an Open Source browser extension. This SERVICE is provided by the PlatKey
          Open Source Contribution Team at no cost and is intended for use as is.
        </p>{' '}
        <p>
          This page is used to inform users regarding my policies with the
          collection, use, and disclosure of Personal Information if anyone
          decided to use my Service.
        </p>{' '}
        <p>
          The terms used in this Privacy Policy have the same meanings as in our
          Terms and Conditions, which are accessible at PlatKey unless otherwise
          defined in this Privacy Policy.
        </p>{' '}
        <p>
          <h2 class="text-[2rem] font-bold leading-[4rem]">
            Information Collection and Use
          </h2>
        </p>{' '}
        <p>
          I do not collect any personal information with the PlatKey extension.
        </p>{' '}
        <p>
          <h2 class="text-[2rem] font-bold leading-[4rem]">Cookies</h2>
        </p>{' '}
        <p>
          This Service does not use these “cookies” explicitly. However, the
          extension may use third-party code and libraries that use “cookies” to
          collect information and improve their services. You have the option to
          either accept or refuse these cookies and know when a cookie is being
          sent to your device. If you choose to refuse our cookies, you may not
          be able to use some portions of this Service.
        </p>{' '}
        <p>
          <h2 class="text-[2rem] font-bold leading-[4rem]">
            Service Providers
          </h2>
        </p>{' '}
        <p>
          I may employ third-party companies and individuals due to the
          following reasons:
        </p>{' '}
        <ul class="list-disc pl-6 py-2">
          <li>To facilitate our Service;</li>{' '}
          <li>To provide the Service on our behalf;</li>{' '}
          <li>To perform Service-related services; or</li>{' '}
          <li>To assist us in analyzing how our Service is used.</li>
        </ul>{' '}
        <p>
          I want to inform users of this Service that these third parties have
          access to their Personal Information. The reason is to perform the
          tasks assigned to them on our behalf. However, they are obligated not
          to disclose or use the information for any other purpose.
        </p>{' '}
        <p>
          <h2 class="text-[2rem] font-bold leading-[4rem]">Security</h2>
        </p>{' '}
        <p>
          I value your trust in providing us your Personal Information, thus we
          are striving to use commercially acceptable means of protecting it.
          But remember that no method of transmission over the internet, or
          method of electronic storage is 100% secure and reliable, and I cannot
          guarantee its absolute security.
        </p>{' '}
        <p>
          <h2 class="text-[2rem] font-bold leading-[4rem]">
            Links to Other Sites
          </h2>
        </p>{' '}
        <p>
          This Service may contain links to other sites. If you click on a
          third-party link, you will be directed to that site. Note that these
          external sites are not operated by me. Therefore, I strongly advise
          you to review the Privacy Policy of these websites. I have no control
          over and assume no responsibility for the content, privacy policies,
          or practices of any third-party sites or services.
        </p>{' '}
        <p>
          <h2 class="text-[2rem] font-bold leading-[4rem]">
            Changes to This Privacy Policy
          </h2>
        </p>{' '}
        <p>
          I may update our Privacy Policy from time to time. Thus, you are
          advised to review this page periodically for any changes. I will
          notify you of any changes by posting the new Privacy Policy on this
          page.
        </p>{' '}
        <p>This policy is effective as of 2022-12-13</p>{' '}
        <p>
          <h2 class="text-[2rem] font-bold leading-[4rem]">Contact Us</h2>
        </p>{' '}
        <p>
          If you have any questions or suggestions about my Privacy Policy, do
          not hesitate to contact me at support@PlatKey.dev.
        </p>{' '}
      </div>
    </div>
    <Footer />
  </main>
</Layout>
