---
import { changeLanguage } from 'i18next';
import { LanguageSelector } from 'astro-i18next/components';
import Layout from '../layouts/Layout.astro';
import Home from '../components/Home';
import Footer from '../components/Footer';

changeLanguage('es');
---

<Layout title="PlatKey - Web Extension">
  <main>
    <Home client:only="react" />
    <Footer />
  </main>
</Layout>
