---
import i18next from 'i18next';

export interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang={i18next.language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta property="og:image" content="https://platkey.dev/cover.webp" />
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  html {
    scroll-behavior: smooth;
  }
  html {
    font-family: system-ui, sans-serif;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
  .platkey-interface {
    border-radius: 1.2rem;
    animation-name: lightup;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transition-property: transform opacity;
    transition-duration: 300ms;
    transition-timing-function: ease;
  }

  .platkey-interface-container h3 {
    transition-property: opacity transform;
    transition-duration: 400ms;
    transition-timing-function: ease;
    opacity: 0.1;
    text-shadow: 0px 0px 1rem #0a1122bb;
  }

  .platkey-interface-container a {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 400ms;
    transition-timing-function: ease;
  }

  .platkey-interface-container:hover a {
    opacity: 1;
  }

  .platkey-interface-container:hover h3 {
    opacity: 1;
    transform: scale(1.05);
  }

  .platkey-interface-container:hover .platkey-interface {
    transform: scale(1.05);
    opacity: 0.6;
  }

  .platkey-logo {
    box-shadow: 0 0 10rem 1rem #33b1ff;
    -webkit-box-shadow: 0 0 10rem 1rem #33b1ff;
    -moz-box-shadow: 0 0 10rem 1rem #33b1ff;
    border-radius: 25px;
  }

  @keyframes lightup {
    0% {
      box-shadow: 0 0 10rem 1px #33b1ff;
      -webkit-box-shadow: 0 0 10rem 1px #33b1ff;
      -moz-box-shadow: 0 0 10rem 1px #33b1ff;
    }
    50% {
      box-shadow: 0 0 0rem 1px #33b1ff;
      -webkit-box-shadow: 0 0 0rem 1px #33b1ff;
      -moz-box-shadow: 0 0 0rem 1px #33b1ff;
    }
    100% {
      box-shadow: 0 0 10rem 1px #33b1ff;
      -webkit-box-shadow: 0 0 10rem 1px #33b1ff;
      -moz-box-shadow: 0 0 10rem 1px #33b1ff;
    }
  }
</style>
